<footer class="footer">
  <!-- Nueva fila con texto y línea divisoria -->
  <div class="footer-small-text">
    <p>
      *Nuestra tienda trabaja con la mejor selección de iPhones, desde modelos
      nuevos sellados hasta tester premium seleccionados y usados.<br>
      Ofrecemos ventas tanto minoristas como mayoristas, con
      múltiples métodos de pago y opciones de envío por Andreani o retiro en
      sucursal. <br>
      Para consultas minoristas, contáctanos por Instagram, y para
      mayoristas, escríbenos por WhatsApp.
    </p>
  </div>

  <div class="footer-container">
    <div class="footer-column">
      <h4>Encontranos en</h4>
      <ul>
        <li>
          <a
            href="https://www.google.com/maps?q=Avenida+Corrientes+1464,+Argentina"
            target="_blank"
            >Av. Corrientes 1464 CABA</a
          >
        </li>
      </ul>
    </div>

    <div class="footer-column">
      <h4>VENDE</h4>
      <ul>
        <li><a [href]="formUrl" target="_blank">Vende con nosotros</a></li>
      </ul>
    </div>

    <div class="footer-column"></div>

    <div class="footer-column">
      <ul class="footer-column-iconAndCopy">
        <img
          src="/webIcons/many-icons/logo_dinasty.webp"
          loading="lazy"
          alt="Dinastia logo"
          class="footer-logo"
        />
        <p>Copyright © 2024 Dinastia Iphone</p>
      </ul>
    </div>
  </div>

  <div class="footer-social">
    <!-- instagram -->
    <a
      href="https://www.instagram.com/dinastia.iphone?igsh=OTAwc3hucDgycmtt"
      target="_blank"
    >
      <img src="/webIcons/footer-section/instagram.webp" alt="Instagram" />
    </a>

    <!-- wss -->
    <a
      href="https://wa.me/5491125632013?text=Hola%2C%20quisiera%20recibir%20más%20información%20sobre%20la%20venta%20mayorista%20de%20iPhones."
      target="_blank"
      style="text-decoration: none; color: inherit"
    >
      <img src="/webIcons/many-icons/whatsapp.webp" alt="WhatsApp" />
    </a>
  </div>
</footer>
