<footer class="footer">
    <div class="footer-container">
      <div class="footer-column">
        <h4>ENCONTRANOS EN</h4>
        <ul>
          <li><a href="https://www.google.com/maps?q=Avenida+Corrientes+1464,+Argentina" target="_blank">Av. Corrientes (ARG)</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>VENDE</h4>
        <ul>
          <li><a href="#">Vende con nosotros</a></li>
          <li><a href="#">Aparece en nuestro mapa</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>CONOCENOS</h4>
        <ul>
          <li><a href="#">Mas Sobre Nosotros</a></li>
          <li><a href="#">Nuestras iniciativas</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <ul>
            <img src="/icons/many-icons/logo_dinasty.webp" loading="lazy"alt="Dinastia logo" class="footer-logo">
          <p>Copyright © 2024 Dinastia Iphone</p>
        </ul>
      </div>
    </div>
    <div class="footer-social">

      <!-- instagram -->
      <a href="https://www.instagram.com/dinastia.iphone?igsh=OTAwc3hucDgycmtt" 
      target="_blank">
       <img src= "/icons/footer-section/instagram.webp" alt="Instagram">
   </a>

      <!-- wss -->
        <a href="https://wa.me/5491125632013?text=Hola%2C%20quisiera%20recibir%20más%20información%20sobre%20la%20venta%20mayorista%20de%20iPhones." 
        target="_blank" 
        style="text-decoration: none; color: inherit;">
         <img src="/icons/many-icons/whatsapp.webp" alt="WhatsApp">
     </a>
    </div>
  </footer>
  