/* Estilos del banner */
.header-banner {

  width: 100%;
  height: 80vh;
  position: relative;

  padding: 5% 0;

  /* background-color: var(--light-secondary-color); */

  display: flex;
  justify-content: flex-start;
  align-items: center;

}

/* styles banner img*/

.img-carrousel {
  width: 100vw;
  height: 100vh;
  margin: 2% auto;

}

div video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}


div img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/*banner content*/
.banner-container {
  width: 75vw;
  height: 85vh;

  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);

  /* border: 1px solid white; */
  z-index: 998;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;

  overflow: hidden;
}

/*text banner*/
.banner-container-textContainer {

  width: 60%;
  height: 80%;
  /* border: 1px solid pink; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-container-textContainer {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.banner-container-textContainer h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}

.banner-container-textContainer p {
  font-size: 1em;
  color: #aaa;
  margin-bottom: 20px;
}

/*carrousel styles*/
.banner-container-carrouselContainer {
  width: 650px;
  height: auto;
  display: block;
  margin: 0 auto;
  position: relative;

  filter: brightness(80%);
  /* border: 1px solid red; */
}

/* Pantallas pequeñas */
@media (max-width: 550px) {

  .header-banner {
    height: 85vh;
    width: 100%;
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
  }

  .img-carrousel {
    width: 100vw;
    height: 100%;
  }

  /*banner container*/
  .banner-container {

    flex-direction: column-reverse;
    /* border: 1px solid red; */

  }

  .banner-container h1 {
    font-size: 1.6em;
  }

  .banner-container p {
    font-size: 1.2em;
  }

  .banner-container-textContainer {
    width: 100%;
    height: 40%;
  }

  .banner-container-carrouselContainer {
    width: 200px;
    height: auto;
  }

  .phone {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .phone img {
    object-fit: cover;
  }

  .banner-container-carrouselContainer .shadow {
    display: none;
  }

}

@media (max-width: 480px) {

  .banner-container-carrouselContainer {
    width: 60%;
    height: auto;
  }

}