/* Estilos del banner */
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh; /* Ocupa toda la pantalla */
  padding: 20px; /* Espaciado interno para pantallas pequeñas */

  /* Fondo desde la carpeta del proyecto */
  background: url("/banner_ip16_mediana.jpg") no-repeat center center;
  background-size: cover; /* Escala la imagen para cubrir todo el banner */
}

/* Estilo del título */
.banner-title {
  font-size: 5.5rem; /* Tamaño grande por defecto */
  font-weight: bold;
  color: #ffffff; /* Blanco */
  margin-bottom: 250px;
}

/* Estilo del subtítulo */
.banner-subtitle {
  font-size: 1.8rem;
  color: #dcdcdc; /* Gris claro */
  margin: 10px 0 20px 0;
}

/* Estilo del botón */
.banner-button {
  background-color: #0084ff; /* Azul */
  color: #ffffff; /* Blanco */
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.banner-button:hover {
  background-color: #006bcc; /* Azul más oscuro */
}

/* Responsividad */
@media (max-width: 768px) {
  .banner-title {
    font-size: 3rem; /* Reducir tamaño en tablets y pantallas medianas */
  }

  .banner-subtitle {
    font-size: 1.3rem; /* Reducir subtítulo */
  }

  .banner-button {
    font-size: 1.3rem; /* Ajustar botón */
    padding: 8px 16px; /* Reducir tamaño del botón */
  }
}

@media (max-width: 480px) {
  

  .banner-title {
    font-size: 3rem; /* Reducir más el tamaño del título en móviles */
  }

  .banner-subtitle {
    font-size: 1.3rem; /* Reducir subtítulo aún más */
  }

  .banner-button {
    font-size: 1.3rem; /* Botón más compacto */
    padding: 6px 12px;
  }
}
