/* Estilo del primer banner */
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40em; /* Ocupa toda la sección */
  padding: 20px;
  background: url("/banner_ip16_mediana.jpg") no-repeat center center;
  background-size: 100%; /* Escala la imagen */
  overflow: hidden; /* Previene que se salga de su sección */
}

.banner-title {
  font-size: 5.5rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 250px;
}

.banner-subtitle {
  font-size: 1.8rem;
  color: #dcdcdc;
  margin: 10px 0;
}

.banner-button {
  background-color: #006bcc;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.banner-button a {
  text-decoration: none;
  color: #ffffff;
}


/* iPad Pro 11" (Vertical) */
@media (min-width: 834px) and (max-width: 1194px) {
  .banner-title {
    margin-bottom: 250px;
  }
 
}

/* iPad Pro 11" (Horizontal) */
@media (min-width: 1194px) and (max-width: 834px) {
  .banner-title {
    margin-bottom: 250px;
  }

  .banner{
    margin-top: 1px;

  }
}


/* Responsividad del segundo banner */
@media (max-width: 768px) {
  .banner-title {
    font-size: 3rem;
  }
  .banner-subtitle {
    font-size: 1.3rem;
  }
  .banner-button {
    font-size: 1.3rem;
    padding: 8px 16px;
  }

}

@media (max-width: 480px) {
  .banner {
    height: 38em;
    background-size: cover;
  }

  .banner-title {
    font-size: 3rem;
  }

  .banner-subtitle {
    font-size: 1.3rem;
  }

  .banner-button {
    font-size: 0.8rem;
    padding: 6px 12px;
  }
}


/* segundo banner */

.fondo{
  background-color: #000000;
}

.banners {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 35em; /* Ocupa toda la sección */
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
  background: url("/Dynamic_island_banner_ip14.webp")no-repeat center center;
  background-size: 35%; /* Escala la imagen al 150% para hacerla más pequeña */
  overflow: hidden; /* Previene desbordamientos */

  opacity: 0; /* Oculto por defecto */
  transform: translateY(50px); /* Desplazado hacia abajo */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Transición suave */
}

/* Estilo del título */
.banner-titlee {
  font-size: 5.5rem;
  /* Tamaño grande por defecto */
  font-weight: bold;
  color: #ffffff;
  /* Blanco */
  margin-top: 20px;
  margin-bottom: 450px;
}


.banners.visible {
  opacity: 1;
  transform: translateY(0);
}



@media (max-width: 480px) {
  .banners {
    background: url("/Dynamic_island_banner_ip14.webp") no-repeat center center  ;
    background-size: 90%;
    /* Escala la imagen para cubrir todo el banner */
    height: 38em;
    /* Ocupa toda la pantalla */
    background-color: #020202;
  }

  .banner-titlee {
    font-size: 2.5rem;
    /* Tamaño grande por defecto */
    font-weight: bold;
    color: #ffffff;
    /* Blanco */
    margin-bottom: 370px;
  }

}