
<section class="header-banner">

    <div class="img-carrousel">
      <video src="/videos/bannerVideo.mp4" autoplay loop muted></video>
    </div>
  
    <div class="banner-container">
  
      <div class="banner-container-textContainer">
        <h1>Dinastía iPhone</h1>
        <p>El Apple que esperabas está acá</p>
        <!-- <div class="buttons">
          <button class="btn-light">Button</button>
          <button class="btn-dark">Button</button>
        </div> -->
      </div>
  
      <div class="banner-container-carrouselContainer">
        
        <div class="phone">
          <img [src]="phones[index].url" [alt]="phones[index].alt">
        </div>
        <!-- <img class="shadow" src="design/shadow.png" loading="lazy" alt=""> -->
      </div>
  
    </div>
</section>