<app-header></app-header>
<app-banner></app-banner>
<app-spacer></app-spacer>
<app-img-text [toRight]="true"></app-img-text>
<app-spacer></app-spacer>
<app-family-carrousel></app-family-carrousel>
<app-spacer></app-spacer>
<app-img-text [toRight]="true"></app-img-text>
<app-spacer></app-spacer>
<app-video-full></app-video-full>
<app-info></app-info>
<app-faq></app-faq>
<app-wss></app-wss>
<app-footer></app-footer>

<!-- <app-history-page></app-history-page>
<app-info-pay></app-info-pay>
<app-whatsapp></app-whatsapp>
<app-theme-toggle></app-theme-toggle>
<app-faq></app-faq> -->
<!-- <app-product-page></app-product-page> -->
<!-- <app-banner-products></app-banner-products>  -->
<!-- <app-all-products></app-all-products>  -->

<!-- <app-product-gallery></app-product-gallery> -->
<!-- <app-footer></app-footer> -->