h2{
  font-family: "Almarai", sans-serif;
  font-weight: 700;
  font-style: normal;
}

p{
  font-family: "Almarai", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.banner-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  /* padding: 100px; */
  border-radius: 10px;
}

.banner-content {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
}

.banner-content h2 {
  font-size: 2.8em;
  margin-bottom: 10px;
}

.banner-content p {
  font-size: 1.5em;
  line-height: 1.5;
  color: #1b1b1b;
}

.banner-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.banner-vi {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 8px;
  /* Redondeo opcional */
}

.banner-vi video {
  width: 80%;
  height: auto;
  max-height: 120vh;
  /* Limita la altura en pantallas grandes */
  object-fit: cover;
  /* Mantiene la proporción del video */
  border-radius: 8px;
  /* Aplica el mismo redondeo al video */
}




@media (min-width: 768px) {
  .banner-con {
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  .banner-content {
    text-align: left;
    padding: 10px;
    /* Reduce el padding en teléfonos */
    margin-top: 15px;
    /* Agrega un margen inferior para separarlo del video */
  }

  .banner-content.p {
    font-size: 0.8em;
    line-height: 1.5;
    color: #020202;
    text-align: start;

  }

  .banner-vi {
    width: 100vw;
    margin: 0 auto;
  }

  .banner-vi video {
    max-height: 50vh;
    /* Ajusta la altura para teléfonos */
  }
}



/* Para pantallas medianas (tabletas) */
@media (max-width: 900px) {
  .banner-vi {
    width: 90vw;
  }

  .banner-vi video {
    max-height: 60vh;
    /* Ajusta la altura para tabletas */
  }

  h2{
    text-align: start;
  }

  p{
    text-align: start;

  }
}