<div *ngIf="!bannerHasVideo()">
  <div class="banner-con" *ngIf="toRight()">
    <div class="banner-content">
      <h2>{{bannerDataToLoad().title}} </h2>
      <p>{{bannerDataToLoad().text}}</p>
    </div>
    <div class="banner-image">
      <img [src]="bannerDataToLoad().urlImg" loading="lazy" alt="iPhone display">
    </div>
  </div>

  <div class="banner-con" *ngIf="!toRight()">
    <div class="banner-image">
      <img [src]="bannerDataToLoad().urlImg" loading="lazy" alt="iPhone display">
    </div>
    <div class="banner-content">
      <h2>{{bannerDataToLoad().title}} </h2>
      <p>{{bannerDataToLoad().text}}</p>
    </div>
  </div>
</div>


<!-- if video exists -->
<div *ngIf="bannerHasVideo()">
  <div class="banner-con" *ngIf="toRight()">
    <div class="banner-content">
      <h2>{{bannerDataToLoad().title}} </h2>
      <p>{{bannerDataToLoad().text}}</p>
    </div>
    <div class="banner-vi">
      <video autoplay muted class="banner-video" (ended)="onVideoEnd($event)">
        <source [src]="bannerDataToLoad().urlVideo" type="video/mp4" />
      </video>
    </div>
  </div>

  <div class="banner-con" *ngIf="!toRight()">
    <div class="banner-vi">
      <video autoplay muted class="banner-video" (ended)="onVideoEnd($event)">
        <source [src]="bannerDataToLoad().urlVideo" type="video/mp4" />
      </video>
    </div>
    <div class="banner-content">
      <h2>{{bannerDataToLoad().title}} </h2>
      <p>{{bannerDataToLoad().text}}</p>
    </div>
  </div>
</div>