<header>
    <div class="navbar" [ngClass]="{'normal':isNotOnTopOfPage}">

        <div class="logo">
            <a href=""><img [src]="Icon.url" [alt]="Icon.name" /></a>
        </div>

        <div class="menu-icon" #menuIcon (click)="openMenu()">
            &#9776;
        </div>

        <nav>
            <ul id="nav-links-norm">
                <!-- <li><a href="#" class="btn">Mac</a></li> -->
                <li><a (click)="goToEmit('info')" class="btn">Sobre nosotros</a></li>
                <li><a (click)="goToEmit('allProducts')" class="btn">Nuestros productos</a></li>
                <li><a href="comparador" class="btn">Comparar</a></li>
            </ul>
        </nav>
    </div>

</header>

<div *ngIf="isMenuOpen">

    <nav class="nav-mobile">

        <div class="nav-mobile-icon" (click)="openMenu()">

            <img src="icons/many-icons/upload.webp" alt="cross">

        </div>

        <ul id="nav-mobile-links">
            <li><a (click)="goToEmit('start')" class="btn">Inicio</a></li>
            <li><a (click)="goToEmit('info')" class="btn">Sobre nosotros</a></li>
            <li><a (click)="goToEmit('allProducts')" class="btn">Nuestros productos</a></li>
            <li><a href="comparador" class="btn">Comparar</a></li>
        </ul>
    </nav>

</div>