<header>
    <!-- <div class="navbar" [ngClass]="{'normal':isNotOnTopOfPage}"> -->
    <div class="navbar" [ngClass]="{'normal':true}">

        <div class="logo">
            <a href=""><img [src]="Icon.url" [alt]="Icon.name"/></a>
        </div>

        <div class="menu-icon" #menuIcon (click)="openMenu()">
            &#9776;
        </div>

        <nav>
            <ul id="nav-links-norm">
                <li *ngIf="!isPageOnMain()"><a [routerLink]="['']" class="btn">Inicio</a></li>
                <li *ngIf="isPageOnMain()"><a (click)="goToEmit('allProducts')" class="btn">Nuestros productos</a></li>
                <li *ngIf="isPageOnMain()"><a (click)="goToEmit('info')" class="btn">Nosotros</a></li>
                <li><a [routerLink]="['/comparador']" class="btn">Comparar</a></li>
            </ul>
        </nav>
    </div>

</header>

<div *ngIf="isMenuOpen">

    <nav class="nav-mobile">

        <div class="nav-mobile-icon" (click)="openMenu()">

            <img src="webIcons/many-icons/upload.webp" alt="cross">

        </div>

        <ul id="nav-mobile-links">
            <li *ngIf="isPageOnMain()"><a (click)="goToEmit('top')" (click)="openMenu()" class="btn">Inicio</a></li>
            <li *ngIf="isPageOnMain()"><a (click)="goToEmit('info')" (click)="openMenu()" class="btn">Sobre nosotros</a></li>
            <li *ngIf="isPageOnMain()"><a (click)="goToEmit('allProducts')" (click)="openMenu()" class="btn">Nuestros productos</a></li>
            <li><a href="comparador" class="btn">Comparar</a></li>
        </ul>
    </nav>

</div>