<app-header></app-header>

<app-banner></app-banner>
<app-spacer></app-spacer>
<!-- <app-banner-static [toRight]="false"></app-banner-static> -->
<app-spacer></app-spacer>
<!-- <app-product-container></app-product-container> -->

<app-spacer></app-spacer>

<!-- <app-banner-static [toRight]="true"></app-banner-static> -->

<app-spacer></app-spacer>


<!-- <app-info-prodructs></app-info-prodructs> -->
<!-- <app-history-page></app-history-page>
<app-info-pay></app-info-pay>
<app-whatsapp></app-whatsapp>
<app-theme-toggle></app-theme-toggle>
<app-faq></app-faq> -->
<!-- <app-product-page></app-product-page> -->
<!-- <app-banner-products></app-banner-products>  -->
<!-- <app-all-products></app-all-products>  -->

<!-- <app-product-gallery></app-product-gallery> -->
<app-footer></app-footer>