<section class="info-seccion">
    <div class="info-grid">
        <div class="info-item">
            <img [src]="Icons[0].url" loading="lazy" alt="Métodos de Pago" class="info-icon" >
            <h3>Múltiples Métodos de Pago</h3>
            <p>Aceptamos pagos con tarjetas de crédito, USD, efectivo, débito, transferencias bancarias y USDT.</p>
        </div>
        <div class="info-item">
            <img [src]="Icons[1].url" loading="lazy" alt="Opciones de Envío" class="info-icon">
            <h3>Envío a Todo el País</h3>
            <p>Enviamos a todas las regiones del país mediante Courier Privado. <br>
                (Andreani)</p>
        </div>
        <div class="info-item">
            <img [src]="Icons[2].url" loading="lazy" alt="Garantía" class="info-icon">
            <h3>Garantía</h3>
            <p>Nuestros productos cuentan con garantía de devolución y cambio (Salvo los usados). Compra con total seguridad.</p>
        </div>
        <div class="info-item">
            <img [src]="Icons[3].url" loading="lazy" alt="Soporte" class="info-icon">
            <h3>Soporte</h3>
            <p>Estamos disponibles para ayudarte,  
                (lunes a viernes de 10am. a 18pm. <br> y sabados de 10am. a 13pm.) 
                 </p>
        </div>
    </div>
</section>
