/* Estilo general de la sección */
.info-seccion {
    text-align: center;
    padding: 40px 20px;
    background-color: #faf8f8;
}

.info-seccion h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #333;
}

.info-grid {
    width: 90vw;
    margin: auto;

    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.info-item {
    flex: 1;
    padding: 20px;
    /* background-color: #fff; */
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    text-align: center;
    /* box-sizing: border-box; */
    margin: 5px;
}

.info-item h3 {
    font-size: 1.5rem;
    margin: 20px 0;
    color: #333;
}

.info-item p {
    font-size: 1.2rem;
    color: #666;
}

.info-icon {
    width: 6.25rem;
    height: auto;
}

/* Responsivo para pantallas más pequeñas */
@media (max-width: 768px) {
    .info-grid {
        flex-direction: column;
        align-items: center;
    }

    .info-item {
        width: 100%;
        margin-bottom: 20px;
    }
}
