<section class="info-seccion">
    <div class="info-grid">
        <div class="info-item">
            <img [src]="Icons[0].url" loading="lazy" alt="Métodos de Pago" class="info-icon" >
            <h3>Múltiples Métodos de Pago</h3>
            <p>Aceptamos pagos con tarjetas de crédito, débito, transferencias bancarias, PayPal, y criptomonedas.</p>
        </div>
        <div class="info-item">
            <img [src]="Icons[1].url" loading="lazy" alt="Opciones de Envío" class="info-icon">
            <h3>Envío a Todo el País</h3>
            <p>Enviamos a todas las regiones del país con opciones estándar y exprés. Seguimiento en tiempo real.</p>
        </div>
        <div class="info-item">
            <img [src]="Icons[2].url" loading="lazy" alt="Garantía" class="info-icon">
            <h3>Garantía de Satisfacción</h3>
            <p>Nuestros productos cuentan con garantía de devolución y cambio. Compra con total seguridad.</p>
        </div>
        <div class="info-item">
            <img [src]="Icons[3].url" loading="lazy" alt="Soporte" class="info-icon">
            <h3>Soporte 24/7</h3>
            <p>Estamos disponibles para ayudarte en cualquier momento, con atención rápida y efectiva.</p>
        </div>
    </div>
</section>
