<div class="product-container">
  <!-- Títulos de familia -->
  <div class="families" (mouseenter)="fnHover(true)" (mouseleave)="fnHover(false)">
    <div [ngClass]="{'families-carrousel-btn':true, 'hover':hover}" (click)="fnDesplAder()">&#8249;</div>

    <div class="title-carousel-container">

      <div class="slider-box-title" [ngStyle]='{"left":titlesCarrouselPosition+"px",
      }'>
        <div class="title-carousel-item" *ngFor="let button of arButtons; let i = index" (click)="fnfiltro(12+i,i)"
          [ngClass]="{'pressed':arButtons[i]}">
          iPhone {{12+i}}
        </div>

      </div>

    </div>

    <div [ngClass]="{'families-carrousel-btn':true, 'hover':hover}" (click)="fnDesplAizq()">&#8250;</div>

  </div>

  <!-- Modo normal (productos uno al lado del otro) -->
  <div class="normal-view">

    <div class="phones-slider-button left" (click)="fnDespPhonCarroLeft()">&#8249;</div>

    <div class="slider-box-container-phones">
      <div class="slider-box-phones" [ngStyle]="{'left':phonesCarrouselPosition+'px'}">
        <app-product-card class="phone-card" *ngFor="let phone of phonesFamily" [phoneDetails]="phone"
          (elementWidth)="fnGetElementWidth($event)">&#8250;</app-product-card>

      </div>
    </div>
    <div class="phones-slider-button right" (click)="fnDespPhonCarroRight()">&#8250;</div>
  </div>

</div>