<section class="others-page">
    
    <!-- <h3 class="item otros">
        Otras caracteristicas
    </h3> -->

    <div class="item nfc">
        <h5 class="nfc-title">
            NFC : 
        </h5>
        <p>{{fnChangeTrues(othersPhone().nfc)}}</p>
    </div>

    <div class="item sim">
        <h5 class="sim-tittle">
            Tipo de sim: 
        </h5>
        <p>{{othersPhone().tipo_sim}}</p>
    </div>

    <div class="item resistencias">
        <h5 class="resistencias-tittle">
            Resistencia al agua:
        </h5>
        <p>{{othersPhone().resistente_agua_polvo}}</p>
    </div>

    <div class="item pinCarga">

        <h5 class="pinCarga-tittle">
            Pin de carga:
        </h5>
        <p>{{othersPhone().pin_carga}}</p>

    </div>

    <div class="item cargador">
        <h5 class="cargador-tittle">
            Viene con cargador:
        </h5>
        <p>{{fnChangeTrues(othersPhone().viene_con_cargador)}}</p>
    </div>

</section>