.container{
    background-color: #f00;
}

.bn-1{
    background: linear-gradient(90deg, rgba(64,86,241,1) 22%, rgba(59,48,222,1) 54%, rgba(21,34,152,1) 100%);
    color: #ececec;
}

.bn-2{
    background-color: #ececec;
}

.bn-3{
    background: radial-gradient(circle, rgba(59,48,222,1) 0%, rgb(6, 87, 180) 100%);
    color: #ececec;
}

