/* Estilos generales de la sección FAQ */
.faq-section {
    max-width: 70%;
    margin: 40px auto;
    padding: 30px;
    /* background-color: #ffffff; */
    border-radius: 1px;
    /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); */
    transition: box-shadow 0.3s ease;
  }
  
  /* .faq-section:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    background-color: #f8f9fa;
  
  } */
  
  .faq-section h2 {
    text-align: center;
    font-size: 2em;
    color: #222;
    margin-bottom: 40px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
  
  /* Estilos para los detalles */
  details {
    margin-bottom: 20px;
    padding: 15px 20px;
    /* background-color: #fdfdfd; */
    border-bottom: 1px solid #eeeeee;
    /* border-radius: 10px; */
    transition: background-color 0.3s ease, border 0.3s ease;
  }
  
  details[open] {
    /* background-color: #f7f7f7; */
    border-color: #ccc;
  }
  
  details summary {
    font-size: 1.3em;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    padding-right: 30px;
    position: relative;
    transition: color 0.3s ease;
  }
  
  details:hover summary {
    color: #007bff;
  }
  
  details summary::after {
    content: '➕';
    font-size: 1.2em;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #007bff;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  details[open] summary::after {
    content: '➖';
    color: #d9534f;
  }
  
  details p {
    margin-top: 10px;
    font-size: 1.2em;
    color: #666;
    line-height: 1.6;
    padding-left: 20px;
    border-left: 3px solid #007bff;
  }
  
  /* Estilos responsivos */
  @media screen and (max-width: 768px) {
    .faq-section {
      max-width: 95%;
      padding: 20px;
    }
  
    details summary {
      font-size: 1.2em;
    }
  
    details p {
      font-size: 1em;
    }
  }
  
  @media screen and (max-width: 480px) {
    .faq-section {
      padding: 15px;
    }
  
    details summary {
      font-size: 1.1em;
    }
  
    details p {
      font-size: 0.9em;
    }
  }
  