<section class="faq-section">
    <h2>Respondemos tus dudas</h2>
    <details>
      <summary> ¿Qué te ofrecemos en Dinastia Iphone?</summary>
      <p>Te ofrecemos el mejor servicio adaptado a tus necesidades.</p>
    </details>
    <details>
      <summary> ¿Cosas importantes sobre nosotros?</summary>
      <p>Tener presencia en internet es esencial para cualquier negocio en la actualidad.</p>
    </details>
    <details>
      <summary> ¿Por qué es importante un diseño atractivo en una página web?</summary>
      <p>Un diseño atractivo mejora la experiencia del usuario y genera mayor confianza.</p>
    </details>
    <details>
      <summary> ¿Qué debo mirar a la hora de contratar un servicio de diseño para mi web?</summary>
      <p>Debes observar la experiencia del equipo, el portafolio de trabajos previos y las recomendaciones de otros clientes.</p>
    </details>
    <details>
      <summary> ¿Quién contrata el hosting y dominio?</summary>
      <p>El cliente contrata el hosting y dominio, aunque ofrecemos asistencia si lo necesitas.</p>
    </details>
    <details>
      <summary> ¿Hay que pagar mensualidades?</summary>
      <p>No, pagas una vez por el diseño web, pero los servicios de hosting y dominio suelen tener pagos anuales o mensuales.</p>
    </details>
</section>